*{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Bebas Neue"
}
h1{
    font-size: 72px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

html{
background-color: darkkhaki;
}

a{
text-decoration: none;
transform: scale(5);
padding-left: 50px;
padding-right: 50px;
top: 50%;
left: 50%;
margin-right: -50%;
align-content: center;
}
