*{
    font-family: "Bebas Neue";
    text-align: center;
}
h1{
    font-size: 72px; 
}

html{
background-color: darkkhaki;
}

a{
text-decoration: none;
}
.layout {
    width: 100%;
  
    display: grid;
    grid-template-rows: repeat(auto-fit, 30%);
    grid-template-columns: auto;
    grid-auto-flow: column dense;
  
    justify-content: center;
    align-content: center;
  }